/* Math Component styling */
.math-container {
	background-color: #7fcea6;
	width: 300px;
	height: 250px;
  padding: 10px;
  margin: auto;
  /* margin-left: auto;
  margin-right: auto; */
  display: block;
	border-radius: 45px 87px 86px 45px;
	-moz-border-radius: 45px 87px 86px 45px;
	-webkit-border-radius: 45px 87px 86px 45px;
  border: 4px solid #000000;
  /* align-self: center; */
  }

button {
  background-color: red;
}

.icon-btn {
  padding: none;
  margin: 3px;
  height: 30px;
}

.icon-img{
  height: 20px;
  width: 20px;
}