div {
  height: 100%;
}

.container {
  display: table;
  width: 100%;
}

.left-panel {
  background-color: #7fc97b;
  position: absolute;
  z-index: 1;
  left: 0px;
  width: 50%;
  padding: 30px;
}

.right-panel {
  background-color: #bee0bc;
  position: absolute;
  z-index: 1;
  right: 0px;
  width: 50%;
  padding: 30px;
}

.card-container {
	border-radius: 19px 60px 60px 19px;
	-moz-border-radius: 19px 60px 60px 19px;
	-webkit-border-radius: 19px 60px 60px 19px;
	border: 2px solid #000000;
	background-color: #d6d3ce;
	height: 150px;
	width: 250px;
  align-content: center;
  text-align: center;
}

.del-button {)
  margin:25px;
  padding: 5px;
}

.before-button {
  margin: 15px;
  padding: 5px;
}

.after-button {
  margin: 15px;
  padding: 5px;
}