.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-logo-stop {
  animation: App-logo-spin infinite 0s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-home {
  animation: App-logo-spin infinite 0s linear;
  height: 15vmin;
  pointer-events: fill;
  padding: 3vmin;
}

.App-dolphin {
  animation: App2-logo-spin infinite 10s linear;
  height: 20vmin;
  pointer-events: fill;
  padding: 3vmin;
}

.App-fish {
  animation: App-logo-spin infinite 10s linear;
  height: 20vmin;
  pointer-events: fill;
  padding: 3vmin;
}

.App-frog {
  animation: App2-logo-spin infinite 10s linear;
  height: 15vmin;
  pointer-events: fill;
  padding: 3vmin;
}

.App-crab {
  animation: App-logo-spin infinite 10s linear;
  height: 17vmin;
  pointer-events: fill;
  padding: 3vmin;
}

.App-main {
  background-color: #19408d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App2-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Math Component styling */
.math-container {
	background-color: #7fcea6;
	width: 300px;
	height: 250px;
  padding: 10px;
  margin: auto;
  /* margin-left: auto;
  margin-right: auto; */
  display: block;
	border-radius: 45px 87px 86px 45px;
	-moz-border-radius: 45px 87px 86px 45px;
	-webkit-border-radius: 45px 87px 86px 45px;
  border: 4px solid #000000;
  /* align-self: center; */
  }
  
  .single-account {
    background-color: #7774c2;
    width: 300px;
    height: 325px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    border: 3px solid #000000;
  }

  button {
    background-color: red;
  }
    
  .text-btn {
    background-color: #1f1e38;
    border: 2px solid #000000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 3px 1px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  .text-btn:hover {opacity: 1}

  .icon-btn {
    padding: none;
    margin: 3px;
    height: 30px;
  }

  .icon-img{
    height: 20px;
    width: 20px;
  }
  